<form class="main__wrapper">
  <LinkTo @route='index' class="link__back">Back to developers</LinkTo>
  <div class="hire__row">
    <label for="firstName" class="hire__label">
      First Name
      <Input class="input"
             type="text"
             id="firstName"
             placeholder="Type here"
             required
             @value={{this.firstName}} />
    </label>
  </div>
  <div class="hire__row">
    <label for="lastName" class="hire__label">
      Last Name
      <Input class="input"
             type="text"
             id="lastName"
             placeholder="Type here"
             required
             @value={{this.lastName}} />
    </label>
  </div>
  <div class="hire__row">
    <label for="role" class="hire__label">
      Role
      <PowerSelect @selected={{this.role}}
                   @options={{this.roles}}
                   @placeholder="Select role"
                   @onChange={{fn (mut this.role)}} as |value|>
        {{value}}
      </PowerSelect>
    </label>
  </div>
  <div class="hire__row">
    <label for="firstName" class="hire__label">
      Framework
      <PowerSelectMultiple @searchEnabled={{true}}
                           @options={{this.frameworks}}
                           @selected={{this.framework}}
                           @placeholder="Select some frameworks"
                           @onChange={{fn (mut this.framework)}} as |value|>
        {{value}}
      </PowerSelectMultiple>
    </label>
  </div>
  <hr>
  {{#if @editPerson}}
    <div class="edit__block--button">
      <button type="button" class="button success" {{on "click" this.onClickSave}}>Save</button>
      <button type="button" class="button error" {{on "click" this.onClickFire}}>Fire</button>
    </div>
  {{else}}
    <button type="button" class="button success" {{on "click" this.onClickHire}}>Hire</button>
  {{/if}}
</form>
